<footer style="margin-bottom: 0; padding-bottom:0">
    <div class="f-info">
        <div class="f-info-socials">
             <a href="https://www.facebook.com/kindkhfffgjhgfdssdghjbgfddtjji?mibextid=ZbWKwL" target="_blank" > <i class="fa-brands fa-square-facebook"></i></a>
             <a href="https://www.linkedin.com/in/ijaz-ahmad-afridi-46a0b5252/" target="_blank" ><i class="fa-brands fa-linkedin"></i> </a> 
             <a href="https://www.instagram.com/afridiijaz52?igsh=MWs1dmh6cmZnZHZkeg==" target="_blank" >  <i class="fa-brands fa-square-instagram"></i></a>
             <a href="https://github.com/afridiijaz" target="_blank" ><i class="fa-brands fa-github"></i> </a>
        </div>
        <div class="f-info-brand">&copy;TravelNest private ltd</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/term">Terms</a>
        </div>
    </div>
</footer>