
<% layout("../layouts/basic.ejs") %>

<div class="row mt-5">
  <h3 class="offset-5">Error </h3>
<div class="alert alert-danger col-6 offset-3 mt-3"  role="alert">
    <p> <%=err.message %> </p>
  </div>
</div>